body {
  background-color: #90EE90; /* Fondo verde claro */
  color: #fff; /* Texto blanco */}

header {
  background-color: #FFD700; /* Amarillo oro */
  color: #000; /* Texto negro */
  padding: 20px;
  text-align: center;}

button {
  background-color: #FFD700; /* Botones amarillos */
  color: #808000; /* Texto verde */
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;}

button:hover {
  background-color: #FFBF00; /* Amarillo ámbar al pasar el mouse */}
